@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.landingpg{
    background-color: #1F2937;
    padding-left: 6%;
    padding-right: 6%;
}
nav{
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}
.navelement{
    padding: 20px;
    color: #F9FAF8;
    text-decoration: none;
    float: right;
    text-align: center;
}
.navelement:hover{
    text-decoration: underline;
    text-decoration-color: #F9FAF8;
    color:#b9b9b7 ;
}
.logo{
    float: left;
    color: #F9FAF8;
    font-size: 24px;
    padding-top: 20px; 
    padding-bottom: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
} 
.container1{
    display: flex;
    justify-content: space-between;
    padding-bottom:  80PX;
    padding-top:  50PX;
}
.calltoaction{
    width: 3500px;
    align-items: center;   
    margin-left: 0;
}
aside img{
    height: auto;
    max-width: 100%;
}
.main{
    color: #F9FAF8;
    font-size:48px;
    font-weight: bolder;
}
.secondary{
    color: #e5e7eb;
    padding-bottom: 20px;
}
.landingbtn{
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 60px;
    text-align: center;
}
.landingbtn:hover{
    background-color: #e5e7eb;
    color: #3882F6;
}
.secondpage{
    padding-left: 12%;
    padding-right: 12%;
}
.contentA{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 20px 1000px 20px 1000px;
    margin-left: 100px;
    margin-right: 100px;
}
.contentA img{
    height: auto;
    width: 150px;
    border-radius: 5%;
    object-fit: cover;    
}
.contentA img:hover{
    opacity: 0.9;
}
.containerA {
    height: auto;
    width: 150px;
}
.secondpage h2{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding: 12px;
    padding-top: 15px;
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    text-align: center;
    padding: 50px;
} 
.myfigcation{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 410px;
}
.calltoactionII{
    background-color: #3882F6;
    padding: 2% 5%;
    margin: 6%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    display: flex;
}
.calltoactionbtnII{
    background-color: #3882F6;
    border-radius: 10px;
    border-style:solid;
    border-color: #F9FAF8;
    color: white;
    padding: 10px 50px;
    margin-left: 90px;
    cursor: pointer;
}
.calltoactionbtnII:hover{
    color: #1F2937; 
    border-color: #1F2937;
}
.calltoactionII h3{
    color: #F9FAF8;
    text-align: left;
}

.calltoactionII p{
    color: #e5e7eb;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
}
footer p{
    text-align: center;
}

















