@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

*{
    font-family: 'Roboto', sans-serif;
    padding-left: 0;
    margin: 0;
    overflow-x: hidden;
}

.landingpg{
    background-color: #1F2937;
}

nav{
    background-color: #1F2937;
}

.navelement{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: aliceblue;
    text-decoration: none;
    float: right;
    text-align: center;

}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
    padding: 10px;
} 

/* .logoli{
    display: flex;
    flex-direction: row;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
} */
/* ;;;;;;;;;;;;;;;;;;;; */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  } */



/* '''''''''''''''''''''''''''''' */

/* .landingpg{
    background-color: #1F2937;
}

.mainheading{
    color: #F9FAF8;
    font-size:48px;
    font-weight: bolder;
}

.headingtext{
    color: #e5e7eb;
}

aside{
margin-right: auto;
}

.landingbtn{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 10px;
    text-align: center;
}
.landingbtn:hover{
    background-color: #e5e7eb;
    color: #3882F6;
}

.contentA{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 20px 1000px 20px 1000px;
    margin-left: 100px;
    margin-right: 100px;
}
.contentA img{
    height: auto;
    width: 150px;
    border-radius: 5%;
    object-fit: cover;
    
}

.containerA {
    height: auto;
    width: 150px;
}
.calltoaction{
    background-color: #3882F6;
    padding: 2% 5%;
    display: flex;
    flex-wrap: wrap;
}
.calltoactionbtn{
    background-color: #3882F6;
    border-radius: 10px;
    border-style:solid;
    border-color: #F9FAF8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    flex: 0;
}
.calltoactionbtn:hover{
    color: #1F2937; 
    border-color: #1F2937;
}
.calltoaction h3{
    color: #F9FAF8;
    text-align: left;
    flex: 1;
}

.calltoaction p{
    color: #e5e7eb;
}
h2{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
.icon{
    height: auto;
    width: 1%;
}
footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
}
footer p{
    text-align: center;
}
img{
    height: auto;
    width: 100%;
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    text-align: center;
    padding: 5px;
}  */